{:topic-client-config {:pyroclast.topic/id "topic-530ed060-fc0a-45a8-adca-06ce6b4683d0"
                       :pyroclast.archiver/bucket "gvickers-archiver-us-west-2"
                       :pyroclast.topic/read-key ""
                       :pyroclast.topic/write-key ""
                       :pyroclast.api/region "us-west-2"}}
