{:roaming {:endpoint "http://127.0.0.1:9700"}
 :topic {:read-api-key ""
         :write-api-key ""
         :topic-id ""
         :endpoint ""
         :format :json}
 :topic-client-config {:pyroclast.topic/write-key "b2f1ef07-3273-48d8-8226-e0ad057605e9"
                       :pyroclast.topic/id "topic-6516b60c-622d-42c7-8b1d-80e6d8bf1c1e"
                       :pyroclast.topic/read-key "56dd47d0-8c42-4075-99b8-7cf272c8598b"
                       ;:pyroclast.api/region "us-west-2"
                       :pyroclast.api/endpoint "http://localhost:10556"}
 :aggregate-client-config {:pyroclast.deployment/id "59e918b9-ce65-4e77-a3ed-31c23b0bff10",
                           :pyroclast.deployment/read-key "d5e6f1e3-1751-4934-aee2-3f1bfafe23a2"
                           ;:pyroclast.api/region "us-west-2"
                           :pyroclast.api/endpoint "http://localhost:10555"}}
